footer {
    margin-top: 8px;
    padding-bottom: 15px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }