.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #20B2AA;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .spacer {
    flex: 1;
  }

  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar #facebook-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

.toolbar #facebook-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}